#
# directory paths:
#
product_dir=.
spectra_dir=.
refdata_dir="$SDPC_RUN_DIR/refdata/cloud"

# absolute path for output pcf file
pcf_file=$product_dir/cloud.pcf

cmdline_args="-tempo -wrt_odl"

# -- values above shouldn't change very often.
# -- values below will change either daily or per-granule.

# radiance, irradiance are in $spectra_dir
irradiance_file=OMI-Aura_L1-OML1BIRR_2004m1222t0122-o02327_v003-2007m0327t132404.he4
radiance_file=OMI-Aura_L1-OML1BRUG_2005m0531t2300-o04670_v003-2011m0120t122405-p1.he4

# product files will go in $product_dir
product_file=cloud_out.he5
