#
# The points day_beg, day_end may differ from scan_beg, scan_end
# because checking the SZA at the FOR scan limits may not
# the best way to gauge the illumination across an entire granule.
# Also, using a single sample point is cheaper than computing
# the SZA over a fine grid of points spanning an entire granule.

scan_config: {

 # Specify scan limits using either scan_num_steps or scan_end.
 # If scan_num_steps <= 0, or absent, scan_end must be present
 scan_num_steps = 1283;

# scan_beg, scan_end are the eastern and western limits of the scan:

 scan_beg: {lon =  -52.712; lat = 47.5605;};  # St John's
 scan_end: {lon = -120.00; lat = 18.0;};

 #scan_beg: {lon =  -73.71; lat = 18.0;};
 #scan_end: {lon = -126.40; lat = 18.0;};
 #scan_beg: {lon =  -87.623; lat = 41.881;};  # Chicago
 #scan_end: {lon = -104.673; lat = 39.849;};  # Denver

# day_beg, day_end are control points used to decide what time
# interval is best for performing radiance scans with sza<max_sza.

 day_beg: {lon =  -80.000; lat = 30.0;};
 day_end: {lon = -115.000; lat = 30.0;};

 #day_beg: {lon = -114.235840; lat = 34.161818;};  # CA easternmost
 # day_end: {lon = -124.387207; lat = 41.771312;};  # CA westernmost

# Scan stepping parameters:

  step_config: {
     scan_reset  = 2.35;
     scan_timing_margin = 15.0;
#     integration_time = 0.118;
#     num_coadds = 21;
     integration_time = 0.100;
     num_coadds = 24;
     frame_transfer_time = 0.00833328;
     readout_time = 0.1;
  };
};

# A narrow region to use with "split" scans:
California: {

 scan_beg: {lon = -114.235840; lat = 34.161818;};  # CA easternmost
 scan_end: {lon = -124.387207; lat = 41.771312;};  # CA westernmost

# Scan stepping parameters:

  step_config: {
     scan_reset  = 2.35;
     scan_timing_margin = 52.51083872;
     integration_time = 0.118;
     num_coadds = 21;
#     integration_time = 0.100;
#     num_coadds = 25;
     frame_transfer_time = 0.00833328;
     readout_time = 0.1;
  };

};

twilight_scan_config: {

  east_region: {
     lon =  -66.9900; lat = 44.9062;  # Eastport, ME
     width = -60000.0;                # urad, >0 is eastward
     num_subdivisions = 2;
  };

  west_region: {
     lon = -124.4049; lat = 40.4370;  # Capetown, CA
     width = 60000.0;                 # urad, >0 is eastward
     num_subdivisions = 2;
  };

  step_config: {
     scan_reset  = 2.35;
     scan_timing_margin = 52.51083872;
     integration_time = 0.118;
     num_coadds = 85;
     frame_transfer_time = 0.00833328;
     readout_time = 0.1;
  };
};

limits_config: {

# max_sza = maximum useful solar zenith angle [deg]
  max_sza = 80.0;

# min_sun_angle = minimum safe angle between the
#                 sun and boresight directions [deg]
  min_sun_angle = 61.0;

# maneuver_margin [sec] allows time to open/close the cal wheel
  maneuver_margin = 60;

# min_scan_duration = minimum useful radiance scan duration [sec]
  min_scan_duration = 120.0;
};

master_table_config: {

  # step_size refers to the azimuthal coordinate in the field of regard.
  # The +X direction is eastward. For the mirror, +Y is southward,
  # so a right- handed coordinate system has +Z along the boresight
  # direction. roll_angle > 0 is clockwise rotation of a vector
  # in the FOR about the boresight (+Z) axis.
  # step_size and roll_angle are in microradians.
  #
  # step_size<0 represents a westward step.
  # For example, roll_angle>0 will move the eastern end of the
  # scan track to a +Y coordinate, making mirror_y>0 at
  # the eastern edge of the FOR.

  step_size = -114.0;
  roll_angle = 0.0;
};

sat_config: {

  sat_lon = -91.0;
# sat_lon = geostationary satellite longitude

  boresight: {lon = -91.0, lat = 33.71};

#  boresight: {lon = -91.0; lat = 34.095428013683204;};
# (lon,lat) coordinates of instrument boresight point:
# (note: lon=sat_lon and lat=34.095428013683204 => tilt=5.53 deg)

};

iers_config: {

# Values of these parameters, accurate for the current date, can be
# obtained from IERS Bulletin A, available from:
# https://www.iers.org/IERS/EN/Publications/Bulletins/bulletins.html
# ut1_utc = predicted UT1-UTC [sec]

  xpole = 0.0;
  ypole = 0.0;
  ut1_utc = 0.494792;
};

novas_config: {
  ephem_name = "$SDPC_OTS_ROOT/share/libnovas/JPLEPH";
};

output_sza_map_config: {

# SZA image dimension
   img_size = 512;

# dimensions of nominal field of regard and
# pixel angular size [microradian] in each dimension

   num_mirror_steps   = 1285;
   size_mirror_step   = 114.0;

   num_xtrack         = 2048;
   size_xtrack_pixel  = 41.79;
};
