#
# values which should only rarely need to be changed
#
cmdline_args=""
refdata_dir=$SDPC_RUN_DIR/refdata/o3_profile

# PCF and control file values can be blank to let o3_profile use its defaults
template_pcf=""
control_file=""

#
# values likely to change often
#

# radiance, irradiance, cloud files
irradiance_file=tempo_small_irr.nc
radiance_file=tempo_20121024T170000Z_000018_01_v1_rad.nc
cloud_file=tempo_20121024T170000Z_000018_01_v1_l2_cldrr.nc

# product file
product_file=tempo_20121024T170000Z_000018_01_v1_l2_o3p.nc

# granule size, "mirror_step_min mirror_step_max xtrack_min xtrack_max"
granule_size="1 128 1 1024"
# number of blocks to process in parallel, split along xtrack axis
num_blocks=64
