enable:
{
   badpix_use   = true;
   btdf         = true;
   crosstalk    = true;
   hotcold      = true;
   nonlinearity = true;
   prnu         = true;
   transients   = true;

   dark         = "mean_tfpa";
                  # dark: none | mean | mean_tfpa

   smear        = "oclocks";
                  # smear: none | oclocks | timing
                  # "timing" method seems to overcorrect

   straylight   = "none";
                  # straylight: none | psf | bb_kernel | shadow
};

straylight:
{
   shadow_method: { which_shadows = "NS"; };     # [N|T][S|B]  N=north/T=top S=south/B=bottom

   psf_method:
   {
       use_shadows = 1;
       scale_factor_vis_to_uv = 1.e-9;
   };
};

calibration:
{
   cal_param_file = "$SDPC_REFDATA_DIR/instrument/TEMPO_senscal_larc_update_V2_04242019_v1.1.nc";
   gain_file      = "$SDPC_REFDATA_DIR/instrument/TEMPO_senscal_larc_update_V2_04242019_v1.1.nc";
   badpix_file    = "$SDPC_REFDATA_DIR/instrument/TEMPO_senscal_larc_update_V2_04242019_v1.1.nc";
   sensorcal_file = "$SDPC_REFDATA_DIR/instrument/TEMPO_senscal_larc_update_V2_04242019_v1.1.nc";
   straylight:
   {
     bb_kernel = "$SDPC_REFDATA_DIR/instrument/TEMPO_senscal_larc_update_V2_04242019_v1.1.nc";
     psf       = "$SDPC_REFDATA_DIR/instrument/TEMPO_Dmat_Ainv4intrachannel_SLCorrection.h5";
   };
};

metadata:
{
   hk_glob_pattern = "TEMPO_HK_L0_*.nc";
                     #  filename pattern to identify level 0 telemetry point files

   metadata_template_dir = "$SDPC_ROOT/etc/level1";
};

pixel_quality_flag_params:
{
   hot_thresh = 5;     # hot pixels have values > mean + hot_thresh*stddev
   cold_thresh = 5;    # cold pixels have values < mean - cold_thresh*stddev

   saturation:
   {
      fudge_factor = 0.99;
                     # How close to approach the formal saturation threshold.

      # range, in pixels, at which a saturated pixel affects its neighbors:

      neighbor_hw_serial = 1;      # spatial direction half-width (serial)
      neighbor_hw_parallel = 2;    # spectral direction half-width (parallel)
   };

   transients:
   {
      # In radiance data, pixel to pixel and frame to frame brightness variations
      # cause this algorithm to flag a lot of pixels.
      # For irradiances and darks, the scene is stable and it works better.

      # size of region to examine when identifying transient pixels:

      neighbor_hw_serial = 0;      # spatial direction half-width (serial)
      neighbor_hw_parallel = 2;    # spectral direction half-width (parallel)
      threshold = 1.0;
   };

   # A pixel may be added to the badpix file if that pixel is flagged as
   # bad more than f*N times in a granule that contains >N exposure
   # records, where f=threshold, and N=num_exprecs_needed

   badpix_update:
   {
       threshold = 0.9;
       num_exprecs_needed = 10;
   };

};

sat_config: {

  sat_lon = -92.85;
# sat_lon = geostationary satellite longitude

  boresight: {lon = -92.85; lat = 34.095428013683204;};
# (lon,lat) coordinates of instrument boresight point:
# (note: lon=sat_lon and lat=34.095428013683204 => tilt=5.53 deg)
};

iers_config: {

# Values of these parameters, accurate for the current date, can be
# obtained from IERS Bulletin A, available from:
# https://www.iers.org/IERS/EN/Publications/Bulletins/bulletins.html
# ut1_utc = predicted UT1-UTC [sec]

  xpole = 0.0;
  ypole = 0.0;
  ut1_utc = 0.494792;
};

novas_config: {
  ephem_name = "$SDPC_OTS_ROOT/share/libnovas/JPLEPH";
};
