
main: {
   incoming_dir = "$SDPC_RUN_DIR_MASTER/stage/level0/spool";
   input_filename_glob_pattern = "tempo_d*.???";
   tpinfo_file = "$SDPC_REFDATA_DIR/instrument/tempo_tpinfo_rJ.csv";
   monitor_wait_secs = 5.0;
   start_time = 0.0;
   cache_flush_idle_wait_secs = 360.0;
   cache_flush_exprec_wait_secs = 900.0;
};

tpsec: {
   output_dir = "$SDPC_RUN_DIR_MASTER/stage/level0/telem";
   outfile_deltat_sec = 240.0;
};

exprec: {
   cache_dir = "$SDPC_RUN_DIR_MASTER/stage/level0/spool/.exprec_cache";
   output_dir = "$SDPC_RUN_DIR_MASTER/stage/level0/ccd";
   granule_size_default = 122;
   granule_size_max = 140;
};

smc: {
   output_dir = "$SDPC_RUN_DIR_MASTER/stage/level0/telem";
   outfile_deltat_sec = 240.0;
};

iru: {
   output_dir = "$SDPC_RUN_DIR_MASTER/stage/level0/telem";
   outfile_deltat_sec = 240.0;
   #
   # To turn off the telemetry-only granules, set inr_update_interval<0
   #
   #inr_update_interval = 360.0;
   inr_update_interval = -1.0;
};

maneuver: {
   output_dir = "$SDPC_ANCILLARY_ROOT/var/host/maneuver";
};

ephemeris: {
   output_dir = "$SDPC_ANCILLARY_ROOT/var/host/ephemeris";
};
