main: {
   incoming_dir = "$SDPC_PIPE_DIR/stage/level0/spool";
   input_filename_glob_pattern = "tempo_d*.???";
   tpinfo_file = "$SDPC_REFDATA_DIR/instrument/tempo_tpinfo_rK.csv";
   monitor_wait_secs = 5.0;
   start_time = 0.0;
   stop_time = 0.0;
   cache_flush_exprec_wait_secs = 900.0;
};

tpsec: {
   output_dir = "$SDPC_PIPE_DIR/stage/level0/telem";
   outfile_deltat_sec = 240.0;
};

exprec: {
   cache_dir = "$SDPC_PIPE_DIR/stage/level0/spool/.exprec_cache";
   output_dir = "$SDPC_PIPE_DIR/stage/level0/ccd";
   granule_size_default = 122;
   granule_size_max = 140;

   classify_using_img_data_source = true;
   #
   #  Telemetry point img_data_source = VIDEO_ADC:0 FPGA_SIM:1
   #  classify_using_img_data_source:
   #  'false' means ignore img_data_source.
   #  'true' means use the img_data_source value to
   #  distinguish between real CCD data and test-patterns.
   #
};

smc: {
   output_dir = "$SDPC_PIPE_DIR/stage/level0/telem";
   outfile_deltat_sec = 240.0;
};

iru: {
   output_dir = "$SDPC_PIPE_DIR/stage/level0/telem";
   outfile_deltat_sec = 240.0;
   #
   # To turn off the telemetry-only granules, set inr_update_interval<0
   #
   #inr_update_interval = 360.0;
   inr_update_interval = -1.0;
};

maneuver: {
   output_dir = "$SDPC_ANCILLARY_ROOT/var/host/maneuver";
};

ephemeris: {
   output_dir = "$SDPC_ANCILLARY_ROOT/var/host/ephemeris";
};
