#
# Parameters controlling the generation of
# telemetry-only radiance files:
#
telemetry_only_config: {
  target_dir = "$SDPC_RUN_DIR/stage/granules/inr_input";
};

# typical data rate is 100 Hz, so 500 samples is 5 sec of padding
smc_config: {
#  file_pattern = "$SDPC_ARCHIVE_DIR/L0/D%05d/SMC/TEMPO_SMC_L0_*.nc";
  file_pattern = "@smc.lis";
  num_pad = 1000;
};

# typical data rate is 100 Hz, so 500 samples is 5 sec of padding
iru_config: {
#  file_pattern = "$SDPC_ARCHIVE_DIR/L0/D%05d/IRU/TEMPO_IRU_L0_*.nc";
  file_pattern = "@iru.lis";
  num_pad = 1000;
};

# typical data rate is 1/16 Hz, so 10 samples is 160 sec of padding
eph_config: {
#  file_pattern = "$SDPC_ARCHIVE_DIR/L0/D%05d/HK/TEMPO_HK_L0_*.nc";
  file_pattern = "@hk.lis";
  num_pad = 10;
};
