#
# Parameters controlling the generation of
# telemetry-only radiance files:
#
telemetry_only_config: {
  target_dir = "$SDPC_PIPE_DIR/stage/granules/inr_input";
};

# typical data rate is 100 Hz, so 500 samples is 5 sec of padding
smc_config: {
#  file_pattern = "$SDPC_ARCHIVE_DIR/L0/D%05d/SMC/TEMPO_SMC_L0_*.nc";
  file_pattern = "@smc.lis";
  num_pad = 3000;
};

# To eliminate gaps in IRU telemetry delivered to the INR SW, the IRU
# time series padding must span the entire time between intervals of
# scan mechanism stepping associated with the radiance scans, including
# the time associated with any motions to position the scan mechanism
# before each scan starts (3 sec), and any movement back to null at the
# end of each scan (3 sec).  Because scan planning includes the scan
# mechanism pre- and post-scan positioning in the scan duration value
# that appears in the scan plan, the time series packaged in the granules
# must include additional padding to account for this. For example,
# if the scan plan inserts 15 sec between scans, then the IRU data needs
# at least 21 sec of padding.

# typical data rate is 100 Hz, so 500 samples is 5 sec of padding
iru_config: {
#  file_pattern = "$SDPC_ARCHIVE_DIR/L0/D%05d/IRU/TEMPO_IRU_L0_*.nc";
  file_pattern = "@iru.lis";
  num_pad = 3000;
};

# typical data rate is 1/16 Hz, so 10 samples is 160 sec of padding
eph_config: {
#  file_pattern = "$SDPC_ARCHIVE_DIR/L0/D%05d/HK/TEMPO_HK_L0_*.nc";
  file_pattern = "@hk.lis";
  num_pad = 10;

  # Predicted ephemeris is used only when the telemetry stream
  # contains no ephemeris information

  predicted_ephemeris_dir = "$SDPC_ANCILLARY_ROOT/var/host/ephemeris";
  predicted_ephemeris_vel_adj = true;
};
