polcorr_tables: {

  # instrument linear polarization sensitivity:
  #
  lps_lut = "$SDPC_RUN_DIR/refdata/polarization/lps_table.nc";

  # QU dependence on selected parameters:
  #
  qu_lut = "$SDPC_RUN_DIR/refdata/polarization/Polarization_LUT_qu_SIqu_clima_reordered.nc";

  # LUT SI "swav" wavelength grid index limits for retrievals
  waves_uv  = [ 1, 13];
  waves_vis = [14, 28];

  use_mler = true;
  merge_bands = true;
};

polcorr_instr_geom: {

# sat_lon = geostationary satellite longitude
  sat_lon = -100.0;

# tilt>0 [deg] is northward tilt of instrument boresight,
#              about spacecraft roll axis
# azi>0 [deg] is rotation, eastward from north (CW),
#             about instrument boresight axis
# These angles specify the instrument pointing direction
# for the tilted perspective projection ('tpers') from
# the Proj4 library.

   tilt = 5.53;
   azi  = 4.5;
};

ground_pixel_quality_flags: {

  # GOES ABI Aerosol Detection Product uses max glint angle = 40 deg
  # (see ATBD v2.1 section 3.3.2)
  #
  max_glint_angle_deg = 40.0;
  max_eclipse_angle_deg = 0.5;
};

# Be sure that the mean and stddev elevation tiles
# are listed in the same order!

elevation: {
  tile_layout = "grid",
  tiles_mean = [
           "$SDPC_RUN_DIR/refdata/elevation/gmted2010/mea/10n090w_20101117_gmted_mea300.tif",
           "$SDPC_RUN_DIR/refdata/elevation/gmted2010/mea/10n120w_20101117_gmted_mea300.tif",
           "$SDPC_RUN_DIR/refdata/elevation/gmted2010/mea/10n150w_20101117_gmted_mea300.tif",
           "$SDPC_RUN_DIR/refdata/elevation/gmted2010/mea/30n060w_20101117_gmted_mea300.tif",
           "$SDPC_RUN_DIR/refdata/elevation/gmted2010/mea/30n090w_20101117_gmted_mea300.tif",
           "$SDPC_RUN_DIR/refdata/elevation/gmted2010/mea/30n120w_20101117_gmted_mea300.tif",
           "$SDPC_RUN_DIR/refdata/elevation/gmted2010/mea/30n150w_20101117_gmted_mea300.tif",
           "$SDPC_RUN_DIR/refdata/elevation/gmted2010/mea/50n030w_20101117_gmted_mea300.tif",
           "$SDPC_RUN_DIR/refdata/elevation/gmted2010/mea/50n060w_20101117_gmted_mea300.tif",
           "$SDPC_RUN_DIR/refdata/elevation/gmted2010/mea/50n090w_20101117_gmted_mea300.tif",
           "$SDPC_RUN_DIR/refdata/elevation/gmted2010/mea/50n120w_20101117_gmted_mea300.tif",
           "$SDPC_RUN_DIR/refdata/elevation/gmted2010/mea/50n150w_20101117_gmted_mea300.tif",
           "$SDPC_RUN_DIR/refdata/elevation/gmted2010/mea/50n180w_20101117_gmted_mea300.tif"
          ];
  tiles_stddev = [
           "$SDPC_RUN_DIR/refdata/elevation/gmted2010/std/10n090w_20101117_gmted_std300.tif",
           "$SDPC_RUN_DIR/refdata/elevation/gmted2010/std/10n120w_20101117_gmted_std300.tif",
           "$SDPC_RUN_DIR/refdata/elevation/gmted2010/std/10n150w_20101117_gmted_std300.tif",
           "$SDPC_RUN_DIR/refdata/elevation/gmted2010/std/30n060w_20101117_gmted_std300.tif",
           "$SDPC_RUN_DIR/refdata/elevation/gmted2010/std/30n090w_20101117_gmted_std300.tif",
           "$SDPC_RUN_DIR/refdata/elevation/gmted2010/std/30n120w_20101117_gmted_std300.tif",
           "$SDPC_RUN_DIR/refdata/elevation/gmted2010/std/30n150w_20101117_gmted_std300.tif",
           "$SDPC_RUN_DIR/refdata/elevation/gmted2010/std/50n030w_20101117_gmted_std300.tif",
           "$SDPC_RUN_DIR/refdata/elevation/gmted2010/std/50n060w_20101117_gmted_std300.tif",
           "$SDPC_RUN_DIR/refdata/elevation/gmted2010/std/50n090w_20101117_gmted_std300.tif",
           "$SDPC_RUN_DIR/refdata/elevation/gmted2010/std/50n120w_20101117_gmted_std300.tif",
           "$SDPC_RUN_DIR/refdata/elevation/gmted2010/std/50n150w_20101117_gmted_std300.tif",
           "$SDPC_RUN_DIR/refdata/elevation/gmted2010/std/50n180w_20101117_gmted_std300.tif"
          ];
};

land_cover: {
  tile_layout = "latitude_bands",
  tiles_type1 = [
           "$SDPC_RUN_DIR/refdata/land_cover/modis/modis_v2_mosaic.Land_Cover_Type_1.tif",
           "$SDPC_RUN_DIR/refdata/land_cover/modis/modis_v3_mosaic.Land_Cover_Type_1.tif",
           "$SDPC_RUN_DIR/refdata/land_cover/modis/modis_v4_mosaic.Land_Cover_Type_1.tif",
           "$SDPC_RUN_DIR/refdata/land_cover/modis/modis_v5_mosaic.Land_Cover_Type_1.tif",
           "$SDPC_RUN_DIR/refdata/land_cover/modis/modis_v6_mosaic.Land_Cover_Type_1.tif",
           "$SDPC_RUN_DIR/refdata/land_cover/modis/modis_v7_mosaic.Land_Cover_Type_1.tif"
          ];
  tiles_typeQC = [
           "$SDPC_RUN_DIR/refdata/land_cover/modis/modis_v2_mosaic.Land_Cover_Type_QC.Num_QC_Words_01.tif",
           "$SDPC_RUN_DIR/refdata/land_cover/modis/modis_v3_mosaic.Land_Cover_Type_QC.Num_QC_Words_01.tif",
           "$SDPC_RUN_DIR/refdata/land_cover/modis/modis_v4_mosaic.Land_Cover_Type_QC.Num_QC_Words_01.tif",
           "$SDPC_RUN_DIR/refdata/land_cover/modis/modis_v5_mosaic.Land_Cover_Type_QC.Num_QC_Words_01.tif",
           "$SDPC_RUN_DIR/refdata/land_cover/modis/modis_v6_mosaic.Land_Cover_Type_QC.Num_QC_Words_01.tif",
           "$SDPC_RUN_DIR/refdata/land_cover/modis/modis_v7_mosaic.Land_Cover_Type_QC.Num_QC_Words_01.tif"
          ];
};

