#
# Parameters controlling the generation of
# telemetry-only radiance files:
#
telemetry_only_config: {
  target_dir = "$SDPC_RUN_DIR/inr/Staging/Granules";
  processing_version = 1;
};

smc_config: {
  file_glob = "$SDPC_ARCHIVE_DIR/L0/1/%d/SMC/TEMPO_SMC_L0_*.nc";
  num_pad = 10;
};

iru_config: {
  file_glob = "$SDPC_ARCHIVE_DIR/L0/1/%d/IRU/TEMPO_IRU_L0_*.nc";
  num_pad = 10;
};

ephemeris_config: {
  num_pad = 10;
};
