polcorr_tables: {

  # instrument linear polarization sensitivity:
  #
  lps_lut = "$SDPC_RUN_DIR/refdata/polarization/TEMPO_lps_table_V2_reordered.nc";

  # QU dependence on selected parameters:
  #
  qu_lut = "$SDPC_RUN_DIR/refdata/polarization/Polarization_LUT_qu_SIqu_clima_v2_reordered.nc";

  # LUT SI "swav" wavelength grid index limits for retrievals
  waves_uv  = [ 1, 13];
  waves_vis = [14, 28];

  use_mler = true;
  merge_bands = true;
};

polcorr_instr_geom: {

# tilt>0 [deg] is northward tilt of instrument boresight,
#              about spacecraft roll axis
# azi>0 [deg] is rotation, eastward from north (CW),
#             about instrument boresight axis
# These angles specify the instrument pointing direction
# for the tilted perspective projection ('tpers') from
# the Proj4 library.

   tilt = 5.53;
   azi  = 0.0;
};
