# L2_regrid configuration file

version = "1.0"

#
# min, delta in degrees
#
target_grid: {
   longitude = {delta = 0.05; min = -155.0; num = 2611;};
   latitude  = {delta = 0.05; min =   17.0; num =  940;};
};

data_products: {
   hcho:
   {
      name = "HCHO";
      processing_version = 1;
      metadata: {
          shortname = "TEMPO_HCHO";
          template_file = "$SDPC_ROOT/etc/level3/simple.met.template";
      };
      filename_list = "l2_HCHO.lst";
      longlat_group = {in = "/geolocation"; out = "/";};
      vars = (
          {in="product/vertical_column"; qa="vertical_column";},
          {in="product/vertical_column_uncertainty";},
          {in="product/main_data_quality_flag"; bitfield_type=-2;},
          {in="geolocation/solar_zenith_angle";},
          {in="geolocation/viewing_zenith_angle";},
          {in="geolocation/relative_azimuth_angle";},
          {in="support_data/surface_pressure";},
          {in="support_data/terrain_height";},
          {in="support_data/fitted_slant_column";},
          {in="support_data/fitted_slant_column_uncertainty";},
          {in="support_data/albedo";},
          {in="support_data/amf";},
          {in="support_data/amf_uncertainty";},
          {in="support_data/amf_cloud_fraction";},
          {in="support_data/amf_cloud_pressure";}
      );
   };

   no2:
   {
      name = "NO2";
      processing_version = 1;
      metadata: {
          shortname = "TEMPO_NO2";
          template_file = "$SDPC_ROOT/etc/level3/simple.met.template";
      };
      filename_list = "l2_NO2.lst";
      longlat_group = {in = "geolocation"; out = "/";};
      vars = (
        #  {in="product/vertical_column_troposphere"; qa="vertical_column_troposphere"},
        #  {in="product/vertical_column_troposphere_uncertainty";},
          {in="product/main_data_quality_flag"; bitfield_type=-2;},
          {in="geolocation/solar_zenith_angle";},
          {in="geolocation/viewing_zenith_angle";},
          {in="geolocation/relative_azimuth_angle";},
          {in="support_data/surface_pressure";},
          {in="support_data/terrain_height";},
          {in="support_data/fitted_slant_column";},
          {in="support_data/fitted_slant_column_uncertainty";},
          {in="support_data/vertical_column_total";},
          {in="support_data/vertical_column_total_uncertainty";},
       #  {in="product/vertical_column_stratosphere"; qa="vertical_column_stratosphere"},
       #  {in="product/vertical_column_stratophere_uncertainty";},
          {in="support_data/albedo";},
          {in="support_data/amf_total";},
          {in="support_data/amf_total_uncertainty";},
          {in="support_data/amf_cloud_fraction";},
          {in="support_data/amf_cloud_pressure";},
          {in="support_data/amf_troposphere";},
          {in="support_data/amf_stratosphere";}
      );
   };

   o3t:
   {
      name = "O3TOT";
      processing_version = 1;
      metadata: {
          shortname = "TEMPO_O3TOT";
          template_file = "$SDPC_ROOT/etc/level3/simple.met.template";
      };
      filename_list = "l2_O3TOT.lst";
      longlat_group = {in = "geolocation"; out = "/";};
      vars = (
          {in="product/column_amount_o3"; qa="column";},
          {in="product/radiative_cloud_frac";},
          {in="product/fc";},
          {in="geolocation/solar_zenith_angle";},
          {in="geolocation/viewing_zenith_angle";},
          {in="geolocation/relative_azimuth_angle";},
          {in="geolocation/terrain_height";},
          {in="support_data/cloud_pressure";},
          {in="support_data/terrain_pressure";}
   #
   # Should this be "quality_flag" that's already in the L2 product?
   # or should we carry data_quality_flag forward from the L1 product?
   #
   #      ,{in="support_data/data_quality_flag";
   #           out="qa_statistics/data_quality_flag"; bitfield_type=2;}
      );
   };
};
