# L2_regrid configuration file

version = "1.0"

#
# min, delta in degrees
#
target_grid: {
   longitude = {delta = 0.05; min = -155.0; num = 2611;};
   latitude  = {delta = 0.05; min =   17.0; num =  940;};
};

data_products: {
   hcho:
   {
      name = "hcho";
      processing_version = 1;
      metadata: {
          shortname = "TEMPO_hcho";
          template_file = "$SDPC_ROOT/etc/level3/simple.met.template";
      };
      filename_list = "l2_hcho.lst";
      longlat_group = {in = "/geolocation"; out = "/";};
      vars = (
          {in="product/column_amount"; qa="column";},
          {in="product/column_uncertainty";},
          {in="product/refsector_corrected_vertical_column";
                    out="product/corrected_vertical_column";},
          {in="geolocation/solar_zenith_angle";},
          {in="geolocation/viewing_zenith_angle";},
          {in="geolocation/relative_azimuth_angle";},
          {in="geolocation/terrain_height";},
          {in="support_data/albedo";},
          {in="support_data/amf_molecule_specific";},
          {in="support_data/amf_cloud_fraction";},
          {in="support_data/amf_cloud_pressure";},
          {in="product/main_data_quality_flag";
              out="qa_statistics/data_quality_flag"; bitfield_type=-2;}
      );
   };

   no2:
   {
      name = "no2";
      processing_version = 1;
      metadata: {
          shortname = "TEMPO_no2";
          template_file = "$SDPC_ROOT/etc/level3/simple.met.template";
      };
      filename_list = "l2_no2.lst";
      longlat_group = {in = "geolocation"; out = "/";};
      vars = (
          {in="product/column_amount"; qa="column";},
          {in="product/column_uncertainty";},
          {in="product/refsector_corrected_vertical_column";
                    out="product/corrected_vertical_column";},
          {in="geolocation/solar_zenith_angle";},
          {in="geolocation/viewing_zenith_angle";},
          {in="geolocation/relative_azimuth_angle";},
          {in="geolocation/terrain_height";},
          {in="support_data/albedo";},
          {in="support_data/amf_molecule_specific";},
          {in="support_data/amf_cloud_fraction";},
          {in="support_data/amf_cloud_pressure";},
          {in="product/main_data_quality_flag";
              out="qa_statistics/data_quality_flag"; bitfield_type=-2;}
      );
   };

   o3t:
   {
      name = "o3t";
      processing_version = 1;
      metadata: {
          shortname = "TEMPO_o3t";
          template_file = "$SDPC_ROOT/etc/level3/simple.met.template";
      };
      filename_list = "l2_o3t.lst";
      longlat_group = {in = "geolocation"; out = "/";};
      vars = (
          {in="product/column_amount_o3"; qa="column";},
          {in="product/radiative_cloud_frac";},
          {in="product/fc";},
          {in="geolocation/solar_zenith_angle";},
          {in="geolocation/viewing_zenith_angle";},
          {in="geolocation/relative_azimuth_angle";},
          {in="geolocation/terrain_height";},
          {in="support_data/cloud_pressure";},
          {in="support_data/terrain_pressure";}
   #
   # Should this be "quality_flag" that's already in the L2 product?
   # or should we carry data_quality_flag forward from the L1 product?
   #
   #      ,{in="support_data/data_quality_flag";
   #           out="qa_statistics/data_quality_flag"; bitfield_type=2;}
      );
   };
};
