# L2_regrid configuration file
#
# min, delta in degrees
#
target_grid: {
   longitude = {delta = 0.05; min = -155.0; num = 2611;};
   latitude  = {delta = 0.05; min =   17.0; num =  940;};
};

data_products: {
   o3p:
   {
      name = "CLDRR";
      metadata: {
          shortname = "TEMPO_CLDRR";
          template_file = "$SDPC_ROOT/etc/level3/simple.met.template";
      };
      filename_list = "TEMPO_CLDRR_L2.lis";
      longlat_group = {in = "geolocation"; out = "/";};
      vars = (
          {in="product/cloud_pressure_for_O3"; qa="cloud_pressure_for_O3"},
          {in="product/cloud_fraction_for_O3"; qa="cloud_fraction_for_O3"},
          {in="geolocation/solar_zenith_angle";},
          {in="geolocation/viewing_zenith_angle";},
          {in="geolocation/relative_azimuth_angle";},
          {in="geolocation/terrain_height";},
          {in="support_data/chlorophyll";},
          {in="support_data/terrain_pressure";},
          {in="support_data/radiative_cloud_fraction";},
          {in="support_data/surface_reflectivity";},
          {in="support_data/reflectivity";},
          {in="support_data/filling_in_factor";},
          {in="support_data/dIdR";}
      );
   };
};
