# L2_regrid configuration file

version = "1.0"

#
# min, delta in degrees
#
target_grid: {
   longitude = {delta = 0.1; min = -155.0; num = 1305;};
   latitude  = {delta = 0.1; min =   17.0; num =  470;};
};

data_products: {
   o3p:
   {
      name = "o3p";
      processing_version = 1;
      metadata: {
          shortname = "TEMPO_o3p";
          template_file = "$SDPC_ROOT/etc/level3/simple.met.template";
      };
      filename_list = "l2_o3p.lst";
      longlat_group = {in = "geolocation"; out = "/";};
      vars = (
   #  Eventually we should collect QA stats on the profile
   #       {in="product/ozone_retrieved_profile"; qa="column";},
   #   
          {in="product/ozone_retrieved_profile";},
          {in="product/ozone_ret_prof_precision";},
          {in="product/ozone_ret_prof_error";},
          {in="product/total_ozone_column";},
          {in="product/total_ozone_precision";},
          {in="product/total_ozone_error";},
          {in="product/stratospheric_ozone_column";},
         {in="product/strat_ozone_precision";},
          {in="product/strat_ozone_error";},
          {in="product/tropospheric_ozone_column";},
          {in="product/tropo_ozone_precision";},
          {in="product/tropo_ozone_error";},
   #  Sub2km values not implemented in L2 files yet
   #       {in="product/sub2km_ozone_column";},
   #       {in="product/sub2km_ozone_precision";},
   #       {in="product/sub2km_ozone_error";},
          {in="geolocation/solar_zenith_angle";},
          {in="geolocation/viewing_zenith_angle";},
          {in="geolocation/relative_azimuth_angle";},
   #       {in="geolocation/ground_pixel_quality_flag";},
          {in="support_data/eff_cloud_fraction";},
          {in="support_data/eff_cloud_pressure";},
          {in="support_data/ozone_apriori_profile";},
          {in="support_data/ozone_apriori_prof_err";},
          {in="support_data/ozone_profile_altitude";},
          {in="support_data/ozone_profile_pressure";},
          {in="support_data/tropopause_index";}
   #       {in="support_data/ozone_averaging_kernel";},
   #       {in="support_data/ozone_noise_correlation_matrix";}
   #  Data Products Guide lists these, but they aren't in L2 files.
   #       {in="qa_statistics/num_samples";},
   #       {in="qa_statistics/min_column";},
   #       {in="qa_statistics/max_column";},
   #       {in="qa_statistics/data_quality_flag"; bitfield_type=-2;}
      );
   };



};
