# -*- sh -*-

control: {

  # To use or generate radiance reference files:
  #     Set radref_enable=True
  # To enable searching for a previously generated radref:
  #     Set radref_search=True
  # If search is disabled, generation of the affected products will be
  # delayed until a radiance reference is generated for the current scan.
  # To generate data products using the radiance reference:
  #    1) Ensure that the product is listed in 'products_needing_radref'
  #    2) Ensure that the relevant PGE control file(s) have radref enabled.

  radref_enable = False;
  radref_search = False;
  products_needing_radref = "HCHO";

  # To use or generate destriping/background correction files:
  #     Set destripe_enable=True
  # To enable searching for a previously generated destriping file:
  #     Set destripe_search=True
  # To apply the destriping/background correction,
  #    1) Set destripe_enable=True
  #    2) Set destripe_apply=True
  # If search is disabled, generation of the affected products will be
  # delayed until a destriping correction file is generated for the current
  # scan.
  # NOTE: If the destriping configuration is changed while the pipeline
  #       is running, notify the 'register' service by sending it a SIGUSR1
  #       signal.  This will ensure that ASDC uploads are deferred (or not),
  #       as needed.

  HCHO: {
   destripe_enable = False;
   destripe_apply  = False;
   destripe_search = False;
  }

};
