# -*- sh -*-

product: {
  processing_version = 1;
  # Version number for output data products
};

# IOC interface:
ioc: {
   livestream_dir = "/tempo/ioc/sciroot/l0spool";
   # Directory where IOC delivers TEMPO science data

   socarchive_dir = "/tempo/ioc/cacheroot/socarchive";
   # Directory where IOC delivers raw telemetry and
   # spacecraft ancillary data
};

# ASDC interface:
asdc: {
   dropbox = "tempo@xfr140.larc.nasa.gov";
   #dropbox = "jhouck@waps.cfa.harvard.edu";

   update_interval = 300;
   # [seconds] time interval between ASDC updates

   max_num_files = 100;
   # Per-table limit on the number of results from database query
   # which, in turn, limits the number of files uploaded at once.
   # (max_num_files <=0 means no limit)
};

dbfile: {
   level0 = "";
   # Sqlite file path to be used for Level 0 IRU, SMC, HK file lookup
   # in 'repro0' context.
   # When not set to a valid file path, the default path
   # is $SDPC_ARCHIVE_DBFILE

   level1 = "";
   # Sqlite file path to be used for Level 1 IRR file lookup
   # in 'repro1' context.
   # When not set to a valid file path, the default path
   # is $SDPC_ARCHIVE_DBFILE
};

level1a: {
   diagnostic_index = "OFF";
   # To enable this diagnostic feature, set it to an integer,
   # 0 <= n <= num_frames_in_granule
   # To disable this feature, set it to the string, "OFF".
};

level1b: {
   wavecal = true;
   # Radiance wavelength calibration enable

   polcorr = true;
   # Radiance polarization correction enable

   postinr = true;
   # Radiance post-INR processing

   diagnostic_index = "OFF";
   # To enable this diagnostic feature, set it to an integer,
   # 0 <= n <= num_frames_in_granule
   # To disable this feature, set it to the string, "OFF".
};

level2: {
   products = "HCHO,NO2,O3TOT,O3PROF";
   # Level 2 products to generate (comma-delimited string, no spaces).

   o3prof_mode = "UVVIS";
   # Ozone profile algorithm mode:  UV | UVVIS
};

# To use or generate radiance reference files:
#     Set radref.enable=true
# To enable searching for a previously generated radref:
#     Set radref.search=true
# If search is disabled, generation of the affected products will be
# delayed until a radiance reference is generated for the current scan.
# To generate data products using the radiance reference:
#    1) Ensure that the product is listed in 'radref.products'
#    2) Ensure that the relevant PGE control file(s) have radref enabled.

radref: {
  enable = false;
  search = false;
  products = "HCHO";
};

# To use or generate HCHO destriping/background correction files:
#     Set destripe.HCHO.enable=true
# To enable searching for a previously generated HCHO destriping file:
#     Set destripe.HCHO.search=true
# To apply the HCHO destriping/background correction,
#    1) Set destripe.HCHO.enable=true
#    2) Set destripe.HCHO.apply=true
# If search is disabled, generation of the affected products will be
# delayed until a destriping correction file is generated for the current
# scan.
# NOTE: If the destriping configuration is changed while the pipeline
#       is running, notify the 'register' service by sending it a SIGHUP
#       signal.  This will ensure that ASDC uploads are deferred (or not),
#       as needed.

destripe: {
  HCHO: {
    enable = false;
    apply  = false;
    search = false;
  };
};
