# -*- sh -*-

control: {

  # To generate radiance reference files:
  #     Set radref_enable=True.
  # To generate data products using the radiance reference:
  #    1) Set radref_enable=True
  #    2) Ensure that the product is listed in 'products_needing_radref'
  #    3) Ensure that the relevant PGE control file(s) have radref enabled.

  radref_enable = True;
  products_needing_radref = "HCHO";

  # To generate destriping/background correction files:
  #     Set destripe_enable=True
  # To apply the destriping/background correction,
  #    1) Set destripe_enable=True
  #    2) Set destripe_apply=True

  HCHO: {
   destripe_enable = True;
   destripe_apply  = False;
  }

};
