wavecal_control:
{
   xtol = 1.e-8;    # parameter convergence criterion
   ftol = 1.e-8;    # objective function convergence criterion
   maxiter = 200;   # max number of Levenberg-Marquardt iterations
};

## ********  CONFIGURE WAVELENGTH BANDS SEPARATELY  ********

band_290_490_nm:
{
  wavecal_irradiance:
  {
    # Wavelength grid parameterization:
    method = "cheb"; num_coef = 2;

    # Reference solar spectrum for wavelength calibration:
    data:
    {
       value = "SolarIrradianceHR";
       #value = "SolarIrradiance";
       wavegrid = "Wavelength";
       path = "$SDPC_REFDATA_DIR/instrument/wavcal_refspec_TEMPO_ILS_reformat.nc";
       scale_factor = 1.0e-14;
    };

    # To fit the slit-function, or apply a slit-function table,
    # uncomment this parameter group, and use value="SolarIrradianceHR"
    # for the reference data.
    slit_function:
    {
        mode = "apply";
        sf_path="$SDPC_REFDATA_DIR/instrument/TEMPO_Slit_Function_0.6nmGaussian_V1.nc" ;

        #mode = "fit";
        num_isrf_half_widths = 6;
        num_params = 3;

        #params     = [ 0.36,   2.0,   0.0];
        #param_step = [1.e-4, 1.e-4, 1.e-4];
    };
  };

};   # end of band_290_490_nm

band_540_740_nm:
{
  wavecal_irradiance:
  {
    # Wavelength grid parameterization:
    method = "cheb"; num_coef = 2;

    # Reference solar spectrum for wavelength calibration:
    data:
    {
       value = "SolarIrradianceHR";
       #value = "SolarIrradiance";
       wavegrid = "Wavelength";
       path = "$SDPC_REFDATA_DIR/instrument/wavcal_refspec_TEMPO_ILS_Band2_reformat.nc";
       scale_factor = 1.0e-14;
    };

    # To fit the slit-function, or apply a slit-function table,
    # uncomment this parameter group, and use value="SolarIrradianceHR"
    # for the reference data.
    slit_function:
    {
        mode = "apply";
        sf_path="$SDPC_REFDATA_DIR/instrument/TEMPO_Slit_Function_0.6nmGaussian_V1.nc" ;

        #mode = "fit";
        num_isrf_half_widths = 6;
        num_params = 3;

        #params     = [ 0.36,   2.0,   0.0];
        #param_step = [1.e-4, 1.e-4, 1.e-4];
    };

  };

};  # end of band_540_740_nm
