wavecal_control:
{
   xtol = 1.e-8;    # parameter convergence criterion
   ftol = 1.e-8;    # objective function convergence criterion
#  maxiter = 200;   # max number of Levenberg-Marquardt iterations
   maxiter = 100;   # change from 200 to 100
};

## ********  CONFIGURE WAVELENGTH BANDS SEPARATELY  ********

band_290_490_nm:
{ 
  wavecal_irradiance:
  {
    # Wavelength grid parameterization:
    method = "cheb"; num_coef = 2;

    # Reference solar spectrum for wavelength calibration:
    data:
    {
       value = "SolarIrradianceHR";
       #value = "SolarIrradiance";
       wavegrid = "Wavelength";
       path = "$SDPC_REFDATA_DIR/instrument/wavcal_refspec_TEMPO_ILS_reformat_V3.nc";
       scale_factor = 1.0e-14;
    };

    # To fit the slit-function, or apply a slit-function table,
    # uncomment this parameter group, and use value="SolarIrradianceHR"
    # for the reference data.
    slit_function:
    {
        #mode = "apply";
        sf_path="$SDPC_REFDATA_DIR/instrument/TEMPO_Slit_Function_0.6nmGaussian_V1.nc" ;

        mode = "fit";
        num_isrf_half_widths = 6;
        num_params = 2;

        #params     = [ 0.36,   2.0,   0.0];
        #param_step = [1.e-4, 1.e-4, 1.e-4];
        params     = [ 0.36,   2.0];
        param_step = [1.e-4, 1.e-4];
    };

    # asterisk prefix means this parameter group is commented out
    model_components:
    {
     # The model has the form:
     #  model = sc*i0 + bl
     #
     # Each component listed here contributes to a single
     # term which must be one of: {sc, bl}.
     #
     # To omit a component from the fit, prefix the
     # corresponding section label with an asterisk (*).

      SC:
      {
        term = "sc";
        method = "poly"; num_coef = 3; xexp = 390.0;
        function:
        {
              x0 = [395.0];
              y0 = [0.97];
        };
      };

      *BLine:
      {
        term = "bl";
        method = "poly"; num_coef = 1; xexp = 390.0;
        function:
        {
            x0 = [395.0];
            y0 = [0.0];
        };
      };
    };  # end of model_components
  };  # end of wavecal_irradiance
};   # end of band_290_490_nm

band_540_740_nm:
{
  wavecal_irradiance:
  {
    # Wavelength grid parameterization:
    method = "cheb"; num_coef = 3;

    # Reference solar spectrum for wavelength calibration:
    data:
    {
       value = "SolarIrradianceHR";
       #value = "SolarIrradiance";
       wavegrid = "Wavelength";
       path = "$SDPC_REFDATA_DIR/instrument/wavcal_refspec_TEMPO_ILS_Band2_reformat_V3.nc";
       scale_factor = 1.0e-14;
    };

    # To fit the slit-function, or apply a slit-function table,
    # uncomment this parameter group, and use value="SolarIrradianceHR"
    # for the reference data.
    slit_function:
    {
        #mode = "apply";
        sf_path="$SDPC_REFDATA_DIR/instrument/TEMPO_Slit_Function_0.6nmGaussian_V1.nc" ;

        mode = "fit";
        num_isrf_half_widths = 6;
        num_params = 2;

        #params     = [ 0.36,   2.0,   0.0];
        #param_step = [1.e-4, 1.e-4, 1.e-4];
        params     = [ 0.36,   2.0];
        param_step = [1.e-4, 1.e-4];
    };

    # asterisk prefix means this parameter group is commented out
    model_components:
    {
     # The model has the form:
     #  model = sc*i0 + bl
     #
     # Each component listed here contributes to a single
     # term which must be one of: {sc, bl}.
     #
     # To omit a component from the fit, prefix the
     # corresponding section label with an asterisk (*).

      SC:
      {
        term = "sc";
        method = "poly"; num_coef = 3; xexp = 640.0;
        function:
        {
              x0 = [645.0];
              y0 = [0.97];
        };
      };

      *BLine:
      {
        term = "bl";
        method = "poly"; num_coef = 1; xexp = 640.0;
        function:
        {
            x0 = [640.0];
            y0 = [0.0];
        };
      };
    };  # end of model_components
  };  # end of wavecal_irradiance
};  # end of band_540_740_nm
