wavecal_control:
{
   xtol = 1.e-8;    # parameter convergence criterion
   ftol = 1.e-8;    # objective function convergence criterion
   maxiter = 200;   # max number of Levenberg-Marquardt iterations

   sza_max = 80.0;  # Radiance spectra with sza > sza_max will not be calibrated

   shift_adjust_table = "$SDPC_RUN_DIR/refdata/instrument/wavecal_adjust_20190727.nc";
};

band_290_490_nm:
{
  wavecal_irradiance:
  {
    # Wavelength grid parameterization:
    method = "cheb"; num_coef = 2;

    # Reference solar spectrum for wavelength calibration:
    data:
    {
       #value = "SolarIrradianceHR";
       value = "SolarIrradiance";
       wavegrid = "Wavelength";
       path = "$SDPC_RUN_DIR/refdata/instrument/wavcal_refspec_TEMPO_ILS.nc";
       scale_factor = 1.0e-14;
    };

    # To fit the slit-function, uncomment this parameter group,
    # and use value="SolarIrradianceHR" for the reference data
    *slit_function:
    {
        mode = "fit";
        num_isrf_half_widths = 6;
        num_params = 3;

        params     = [ 0.36,   2.0,   0.0];
        param_step = [1.e-4, 1.e-4, 1.e-4];
    };
  };

};   # end of band_290_490_nm

band_540_740_nm:
{
  wavecal_irradiance:
  {
    # Wavelength grid parameterization:
    method = "cheb"; num_coef = 2;

    # Reference solar spectrum for wavelength calibration:
    data:
    {
       #value = "SolarIrradianceHR";
       value = "SolarIrradiance";
       wavegrid = "Wavelength";
       path = "$SDPC_RUN_DIR/refdata/instrument/wavcal_refspec_TEMPO_ILS_Band2.nc";
       scale_factor = 1.0e-14;
    };

    # To fit the slit-function, uncomment this parameter group,
    # and use value="SolarIrradianceHR" for the reference data
    *slit_function:
    {
        mode = "fit";
        num_isrf_half_widths = 6;
        num_params = 3;

        params     = [ 0.36,   2.0,   0.0];
        param_step = [1.e-4, 1.e-4, 1.e-4];
    };

  };

};  # end of band_540_740_nm
