
GROUP                  = INVENTORYMETADATA
  GROUPTYPE            = MASTERGROUP

  GROUP                  = ECSDATAGRANULE

    OBJECT                 = LOCALGRANULEID
      NUM_VAL              = 1
      VALUE                = ${local_granule_id}
    END_OBJECT             = LOCALGRANULEID

    OBJECT                 = LOCALVERSIONID
      NUM_VAL              = 1
      VALUE                = ("RFC1321 MD5 = not yet calculated")
    END_OBJECT             = LOCALVERSIONID

    OBJECT                 = PRODUCTIONDATETIME
      NUM_VAL              = 1
      VALUE                = ${production_date_time}
    END_OBJECT             = PRODUCTIONDATETIME

  END_GROUP              = ECSDATAGRANULE

  GROUP                  = COLLECTIONDESCRIPTIONCLASS

    OBJECT                 = SHORTNAME
      NUM_VAL              = 1
      VALUE                = ${shortname}
    END_OBJECT             = SHORTNAME

    OBJECT                 = VERSIONID
      NUM_VAL              = 1
      VALUE                = ${version_id}
    END_OBJECT             = VERSIONID

  END_GROUP              = COLLECTIONDESCRIPTIONCLASS

  GROUP                  = INPUTGRANULE

    OBJECT                 = INPUTPOINTER
      NUM_VAL              = ${#input_files}
      VALUE                = ${input_files}
    END_OBJECT             = INPUTPOINTER

  END_GROUP              = INPUTGRANULE

  GROUP                  = SPATIALDOMAINCONTAINER

    GROUP                  = HORIZONTALSPATIALDOMAINCONTAINER

      GROUP                  = GPOLYGON

        OBJECT                 = GPOLYGONCONTAINER
          CLASS                = "1"

          GROUP                  = GRINGPOINT
            CLASS                = "1"

            OBJECT                 = GRINGPOINTLONGITUDE
              NUM_VAL              = ${#polygon_longitudes}
              CLASS                = "1"
              VALUE                = ${polygon_longitudes}
            END_OBJECT             = GRINGPOINTLONGITUDE

            OBJECT                 = GRINGPOINTLATITUDE
              NUM_VAL              = ${#polygon_latitudes}
              CLASS                = "1"
              VALUE                = ${polygon_latitudes}
            END_OBJECT             = GRINGPOINTLATITUDE

            OBJECT                 = GRINGPOINTSEQUENCENO
              NUM_VAL              = ${#polygon_sequence}
              CLASS                = "1"
              VALUE                = ${polygon_sequence}
            END_OBJECT             = GRINGPOINTSEQUENCENO

          END_GROUP              = GRINGPOINT

          GROUP                  = GRING
            CLASS                = "1"

            OBJECT                 = EXCLUSIONGRINGFLAG
              NUM_VAL              = 1
              VALUE                = "N"
              CLASS                = "1"
            END_OBJECT             = EXCLUSIONGRINGFLAG

          END_GROUP              = GRING

        END_OBJECT             = GPOLYGONCONTAINER

      END_GROUP              = GPOLYGON

    END_GROUP              = HORIZONTALSPATIALDOMAINCONTAINER

  END_GROUP              = SPATIALDOMAINCONTAINER

  GROUP                  = RANGEDATETIME

    OBJECT                 = RANGEENDINGDATE
      NUM_VAL              = 1
      VALUE                = ${end_date}
    END_OBJECT             = RANGEENDINGDATE

    OBJECT                 = RANGEENDINGTIME
      NUM_VAL              = 1
      VALUE                = ${end_time}
    END_OBJECT             = RANGEENDINGTIME

    OBJECT                 = RANGEBEGINNINGDATE
      NUM_VAL              = 1
      VALUE                = ${begin_date}
    END_OBJECT             = RANGEBEGINNINGDATE

    OBJECT                 = RANGEBEGINNINGTIME
      NUM_VAL              = 1
      VALUE                = ${begin_time}
    END_OBJECT             = RANGEBEGINNINGTIME

  END_GROUP              = RANGEDATETIME

  GROUP                  = PGEVERSIONCLASS

    OBJECT                 = PGEVERSION
      NUM_VAL              = 1
      VALUE                = ${pge_version}
    END_OBJECT             = PGEVERSION

  END_GROUP              = PGEVERSIONCLASS

END_GROUP              = INVENTORYMETADATA

END
