format_version = "1.0";

main: {
   incoming_dir = "/vex/d0/tmp/ioc_sdpc_interface/ioc_out";
   input_filename_glob_pattern = "tempo_d*.???";
   tpinfo_file = "/vex/d0/tmp/ioc_sdpc_interface/tempo_tpmeta_r7.csv";
   monitor_wait_secs = 5.0;
   cache_flush_idle_wait_secs = 60.0;
   daemon_logfile_path = "/vex/d0/tmp/ioc_sdpc_interface/l0.log";
};

tpsec: {
   processing_version = 1;
   output_dir = "/vex/d0/tmp/ioc_sdpc_interface/ioc_out_nc";
   outfile_deltat_sec = 300.0;
};

exprec: {
   processing_version = 1;
   output_dir = "/vex/d0/tmp/ioc_sdpc_interface/ioc_out_nc";
   cache_dir = "/vex/d0/tmp/ioc_sdpc_interface/ioc_out_nc/cache";
   granule_size_default = 128;
   granule_size_max = 140;
};

smc: {
   processing_version = 1;
   output_dir = "/vex/d0/tmp/ioc_sdpc_interface/ioc_out_nc";
   outfile_deltat_sec = 300.0;
};

iru: {
   processing_version = 1;
   output_dir = "/vex/d0/tmp/ioc_sdpc_interface/ioc_out_nc";
   outfile_deltat_sec = 300.0;
   inr_update_interval = 360.0;
};
