nam227:
{
    root_dir = "$SDPC_ANCILLARY_ROOT/met/nam227" ;
    basename_pattern = "*.grib2" ;
    lookup_table = "$SDPC_ROOT/var/nam227.db" ;
};

nsidc:
{
    root_dir = "$SDPC_ANCILLARY_ROOT/snow/nsidc" ;
    basename_pattern = "ims*_1km_GIS_v*.tif.gz" ;
    lookup_table = "$SDPC_ROOT/var/nsidc.db" ;
};

irr:
{
    root_dir = "$SDPC_ROOT/archive/L1/IRR" ;
    basename_pattern = "TEMPO_IRR_*.nc" ;
    lookup_table = "$SDPC_ROOT/var/irr.db" ;
};

drk:
{
    root_dir = "$SDPC_ROOT/archive/L1/DRK" ;
    basename_pattern = "TEMPO_DRK_*.nc" ;
    lookup_table = "$SDPC_ROOT/var/drk.db" ;
};

ephemeris:
{
    root_dir = "$SDPC_ANCILLARY_ROOT/ephem" ;
    basename_pattern = "ephemeris_*.csv" ;
    lookup_table = "$SDPC_ROOT/var/ephem.db" ;
};
