#
# directory paths:
#
product_dir=.
spectra_dir=.
cloud_dir=.
refsec_dir=$SDPC_RUN_DIR/refdata/trace_gas/refsec
refdata_dir=$SDPC_RUN_DIR/refdata
met_dir=$SDPC_RUN_DIR/refdata/trace_gas/data

# absolute path for output pcf file
pcf_file=$product_dir/trace_gas.pcf

# name of control file that will go in $product_dir
control_file=control.txt

# reference sector files are in $refsec_dir
refsec_rad_file=OML1BRUG-o08544.nc
refsec_cld_file=OMCLDRR-o08544.nc

# -- values above shouldn't change very often.
# -- values below will change either daily or per-granule.

# radiance, irradiance are in $spectra_dir
irradiance_file=OML1BIRR-o08538.nc
radiance_file=OML1BRUG-o08541.nc

# cloud file is in $cloud_dir
cloud_file=OMCLDRR-o08541.nc

# product files will go in $product_dir
product_file=trace_gas_out.he5

# meteorology file is in met_dir
met_file=g5nr_met_221nam_grid_20130715_1800.nc

# climatology file needs to be chosen to match month of observation
clim_file=TEMPO_GEOS-Chem_climatology_JAN_v0p0.he5
