#
# Parameters controlling the generation of
# telemetry-only radiance files:
#
telemetry_only_config: {
  target_dir = "/vex/d0/tmp/inr_in";
};

smc_config: {
  file_glob = "/vex/d0/tmp/ioc_sdpc_interface/ioc_out_nc/*smc0.nc";
  num_pad = 10;
};

iru_config: {
  file_glob = "/vex/d0/tmp/ioc_sdpc_interface/ioc_out_nc/*iru0.nc";
  num_pad = 10;
};

ephemeris_config: {
  num_pad = 10;
  predicted_ephemeris_dir = "$SDPC_ANCILLARY_ROOT/var/host/ephemeris";
  predicted_ephemeris_vel_adj = true;
};
