#
PROCESSING_ROOT=/home/houck/sdpc_test

INR_MOCK_FEED_CFG = mock_feed.cfg

# INR_PROCESSING_ROOT is the root directory where
# INR files will be organized during processing
#
INR_PROCESSING_ROOT=${PROCESSING_ROOT}/inr

# INR_GOES_REFDATA_DIR contains:
#   GOES imagery
#   GOES rsr files
INR_GOES_REFDATA_DIR=/data/tempo/sdpc/inr/synth_granules_v2/FullGranules

# INRSW_INSTALL_DIR
INRSW_INSTALL_DIR=/soft/tempo/sdpc/install/v1_gnu/inr

# INR_REFDATA_DIR contains:
#   ellipsoid altitude map
#   GNA polygon
#   JPL ephemeris
INR_REFDATA_DIR=${INRSW_INSTALL_DIR}/config

# INR_IERS_DIR contains:
#   IERS bulletin A
INR_IERS_DIR=${INRSW_INSTALL_DIR}/config

